.main-container {
  margin: 40px 10%;

  .main-header {
    .chat-img {
      margin-top: 15px;
    }

    h2 {
      font-family: "CircularStd", sans-serif;
      font-weight: 550;
      margin-top: 30px;
      margin-bottom: 60px;
      font-size: 25px;

      @media (max-width: "425px") {
        font-weight: 600;
      }
    }
  }

  .main-header2 {
    .chat-img {
      margin-top: 15px;
    }

    h2 {
      font-family: "CircularStd", sans-serif;
      font-weight: 550;
      margin-top: 30px;
      margin-bottom: 60px;
      font-size: 25px;
    }

    @media (max-width: 425px) {
      h2 {
        margin-bottom: 30px;
      }
    }
  }

  .main-header3 {
    .chat-img {
      margin-top: 15px;
    }

    h2 {
      font-family: "CircularStd", sans-serif;
      font-weight: 550;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 25px;
    }

    p {
      font-family: "CircularStd", sans-serif;
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  .main-btn1 {
    margin: 50px;
    font-family: "CircularStd", sans-serif;
    width: 360px;
    padding: 15px;
    border-radius: 5rem;
    font-size: 0.9em;
    border: none;
    font-weight: bold;
    background-color: #5ed0ce;
    color: white;
    border-color: #5ed0ce;
    border-radius: 5rem;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.11);

    &:hover {
      background-color: #3bbfc0;
      border-color: #3bbfc0;
      box-shadow: none;
      transition: box-shadow 0.3s;
    }
    &:focus {
      background-color: #3bbfc0;
    }

    @media (max-width: "425px") {
      width: 300px;
      margin: 0px auto 60px auto;
      // box-shadow: none;
    }

    @media (max-width: "325px") {
      font-size: 14px;
      width: 260px;
      margin: 0px auto 60px auto;
      // box-shadow: none;
    }
  }

  .main-btn2 {
    margin: 20px;
    font-family: "CircularStd", sans-serif;
    width: 225px;
    padding: 15px;
    border-radius: 5rem;
    font-size: 0.9em;
    border: none;
    font-weight: bold;
    background-color: #5ed0ce;
    color: white;
    border-color: #5ed0ce;
    border-radius: 5rem;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.11);

    &:hover {
      background-color: #3bbfc0;
      border-color: #3bbfc0;
      box-shadow: none;
      transition: box-shadow 0.2s ease-in-out,
        background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &:focus {
      background-color: #3bbfc0;
    }
  }

  .categories {
    z-index: 2;
    margin-top: 150px;
    margin-bottom: 100px;

    @media (max-width: "425px") {
      margin-top: 80px;
    }
  }

  .main-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card-title {
      font-weight: bold;
      font-family: "CircularStd", sans-serif;
    }

    .card-text {
      font-family: "CircularStd", sans-serif;
      font-size: 14px;
    }

    .main-card {
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.06);

      &:hover {
        box-shadow: none;
        transition: box-shadow 0.3s ease-in-out;
      }
    }
    @media (max-width: "425px") {
      flex-direction: column;

      .card {
        width: 90% !important;
        margin: 30px auto !important;
      }

      .main-card {
        // box-shadow: none;
      }
    }
  }

  .wave-div1 {
    img {
      z-index: -10;
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

  .wave-div2 {
    img {
      z-index: -10;
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

  .bottom-cta {
    margin-top: 250px;
    margin-bottom: 80px;
  }
}

.step-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: "425px") {
    flex-direction: column;
  }
}

.step-item {
  p {
    font-family: "CircularStd", sans-serif;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: "425px") {
    margin-bottom: 50px;
  }
}
