.control-prev.control-arrow {
  &::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.1em solid white !important;
    border-top: 0.1em solid white !important;
    border-bottom: 0 !important;
    left: 4px;
    top: 2px;
    transform: rotate(225deg);
    margin: 0 !important;
    margin-right: 0.5em;
  }
}

.control-next.control-arrow {
  &::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.1em solid white !important;
    border-top: 0.1em solid white !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    transform: rotate(45deg);
    margin: 0 !important;
    margin-right: 0.5em;
    right: 4px;
    top: 2px;
  }
}

.control-arrow.control-prev {
  //   margin-bottom: 100px !important;
  margin-top: 13% !important;
}
.control-arrow.control-next {
  margin-top: 13% !important;
}

.control-prev.control-arrow {
  left: 40px !important;
}

.control-next.control-arrow {
  right: 40px !important;
}

.control-arrow {
  height: 50px;
  width: 50px;
  border-radius: 100%;

  opacity: 0.8 !important;
  //   height: 50px;
  //   padding: 30px !important;
  background-color: rgba(255, 255, 255, 0.5) !important;

  &:hover {
    opacity: 1 !important;
    // background-color: rgba(0, 0, 0, 0.5) !important;
  }
}

// .carousel-slider {
//   position: relative;
//   overflow: hidden;
//   border-bottom-left-radius: 100% 80px;
//   border-bottom-right-radius: 100% 80px;
//   padding-bottom: 0px;
//   overflow: hidden;
// }

.axis-horizontal {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 100% 80px;
  border-bottom-right-radius: 100% 80px;
  padding-bottom: 0px;
  overflow: hidden;
}
.control-dots {
  position: relative !important;
  top: 15px;

  .dot {
    border: 2px solid #3bbfc0;
    width: 14px !important;
    height: 14px !important;
    box-shadow: none !important;
  }

  //   margin-bottom: -30px !important;
}

li.dot.selected {
  background: #3bbfc0 !important;
}
