nav {
  font-size: 0.75em;
  padding: 1.5em 12% !important;

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    .nav-title-wrapper {
    }
    .nav-title {
      // margin-top: 5px;
      font-family: "Bungee", sans-serif;
      font-weight: 500;
      font-size: 23px;
    }
    .nav-undertitle {
      margin-top: -7px;
      font-size: 8px;
    }
  }

  .nav-item {
    align-self: center;
    font-family: "CircularStd", sans-serif;
  }

  .signup-btn {
    font-family: "CircularStd", sans-serif;
    width: 100px;
    border-radius: 5rem;
    font-size: 1em;
    font-weight: bold;
    background-color: #5ed0ce;
    border-color: #5ed0ce;

    &:hover {
      background-color: #3bbfc0;
      border-color: #5ed0ce;
    }
    &:focus {
      background-color: #3bbfc0;
    }
  }
}
