.footer {
  height: 450px;
  width: 100%;
  background-image: url("../Images/wave4.png");
  background-size: 100% 100%;
  color: white;

  .contact {
    padding-top: 200px;
  }

  .footer-container {
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    margin-right: 12%;

    h6 {
      font-size: 15px;
    }

    p,
    a {
      font-size: 14px;
    }
  }
  .copyright-text {
    margin: 10px 12% 0 12%;
    text-align: left;
    font-size: 12px;

    .terms {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .contact {
    align-content: center;

    h6 {
      margin: 15px;
      font-family: "Bungee", sans-serif;
    }

    .contact-icons {
      margin: 10px auto 0 auto;
      width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .social-img {
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }

  .left-box {
    margin-top: 30px;
    width: 50%;

    .site-name {
      font-family: "Bungee", sans-serif;
    }

    p {
      padding-right: 50px;
    }
  }
  .right-box {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h6 {
      font-family: "Bungee", sans-serif;
    }

    .links {
      display: flex;
      flex-direction: column;

      a {
        color: white;

        &:hover {
          color: rgb(211, 211, 211);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
    .product {
      display: flex;
      flex-direction: column;

      a {
        color: white;

        &:hover {
          color: rgb(211, 211, 211);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
